.drawings-by-page {
  padding: 15px;
  padding-right: 20px;
  border: 5px solid black;
  border-top: 0px;
  background-color: rgb(168, 183, 196);
}

.drawings-by-page a {
  font-size: 18px;
  color: black;
  padding-bottom: 15px;
  flex: 1;
}

.drawings-by-page a:hover {
  color: blue;
  font-style: italic;
  font-size: 20px;
}

.drawings-by-page ul {
  list-style-type: none;
  width: 100%;
}
