.titre-lien {
    text-decoration: none;
}

table {
  width: 100%;
}

table tr td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: auto;
  padding-left: 15px;
  padding-bottom: 5px;
}

table tr td:first-child {
  width: 40%;
}

table tr td:last-child {
  width: 60%;
}

table {
  text-align: left;
}